
.all{
    height: 100%;
    width: 100%
}
.header {
    position:absolute; 
    left:0px; 
    right:0px; 
    top:0px; 
    height:10%; 
    background-color: #d7d7d7;
    overflow: hidden
}  

.content {
    position:absolute; 
    left:0px; 
    right:0px; 
    top:10%; 
    bottom:10%; 
    overflow: auto
}

.footer {
    position:absolute; 
    left:0px; 
    right:0px; 
    bottom:0px; 
    height:10%; 
    background-color: #d7d7d7;
    overflow: hidden
}